RewriteEngine On
# TUANORIJSC : BẮT ĐẦU CHUYỂN HƯỚNG
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
# TUANORIJSC : KẾT THÚC CHUYỂN HƯỚNG
RewriteRule ^Auth/Profile/ChangePassword public/client/Profile-ChangePassword.php [L]
RewriteRule ^Orders/([A-Za-z0-9-]+) public/client/Orders.php?id=$1 [L]
RewriteRule ^client/login$ pages/client/Login.php [L]
RewriteRule ^client/register$ pages/client/Register.php [L]
RewriteRule ^client/logout$ pages/client/Logout.php [L]
RewriteRule ^mua-hosting$ pages/client/Muahosting.php [L]
RewriteRule ^HistoryHost$ pages/client/HistoryMuahost.php [L]
RewriteRule ^HistoryRsl$ pages/client/HistoryRsl.php [L]
RewriteRule ^HistoryVps$ pages/client/HistoryMuavps.php [L]
RewriteRule ^host/([A-Za-z0-9-]+)$ pages/client/Host.php?hosting=$1 [L]
RewriteRule ^host$ pages/client/Host.php [L]
RewriteRule ^vps/([A-Za-z0-9-]+)$ pages/client/Vps.php?vps=$1 [L]
RewriteRule ^vps$ pages/client/Vps.php [L]
RewriteRule ^mua-vps$ pages/client/Muavps.php [L]
RewriteRule ^NapCard$ pages/client/Napcard.php [L]
RewriteRule ^Profile$ pages/client/Profile.php [L]
RewriteRule ^QuanLyHost/([A-Za-z0-9-]+)$ pages/client/Quanlyhost.php?id=$1 [L]
RewriteRule ^QuanLyRsl/([A-Za-z0-9-]+)$ pages/client/Quanlyreserller.php?id=$1 [L]
RewriteRule ^aff.php$ api/aff.php [L]
RewriteRule ^aff$ pages/client/Affiliates.php [L]
RewriteRule ^Mua-mien$ pages/client/Muamien.php [L]
RewriteRule ^Banking$ pages/client/Banking.php [L]
RewriteRule ^CheckDomain$ pages/client/CheckDomain.php [L]
RewriteRule ^Ruttien$ pages/client/Ruttien.php [L]
RewriteRule ^reseller/([A-Za-z0-9-]+)$ pages/client/Reseller.php?reseller=$1 [L]
RewriteRule ^reseller$ pages/client/Reseller.php [L]
RewriteRule ^client/PasswordRetrieval$ pages/client/PasswordRetrieval.php [L]
RewriteRule ^client/ForgotPassword$ pages/client/ForgotPassword.php [L]
RewriteRule ^Baotri$ pages/client/Baotri.php [L]

RewriteRule ^api/buyhost$ api/Muahost.php [L]
RewriteRule ^api/thaotac$ api/ManageHost.php [L]

RewriteRule ^LoginFacebook$ api/Login/Facebook.php [L]
RewriteRule ^LoginGoogle$ api/Login/Google.php [L]

RewriteRule ^Admin$ pages/admin/Home.php [L]
RewriteRule ^Admin/Home$ pages/admin/Home.php [L]
RewriteRule ^Admin/Users$ pages/admin/Users.php [L]
RewriteRule ^Admin/User/Edit/([A-Za-z0-9-]+)$ pages/admin/EditUser.php?id=$1 [L]
RewriteRule ^Admin/HistoryHost$ pages/admin/HistoryHost.php [L]
RewriteRule ^Admin/Hosting/Edit/([A-Za-z0-9-]+)$ pages/admin/EditHost.php?id=$1 [L]
RewriteRule ^Admin/HistoryServer$ pages/admin/AddServer.php [L]
RewriteRule ^Admin/HistoryVps$ pages/admin/AddVps.php [L]
RewriteRule ^Admin/HistoryCard$ pages/admin/HistoryCard.php [L]
RewriteRule ^Admin/HistoryDomain$ pages/admin/HistoryDomain.php [L]
RewriteRule ^Admin/HistoryBienDong$ pages/admin/HistoryBienDong.php [L]
RewriteRule ^Admin/HistoryMuaVps$ pages/admin/HistoryVps.php [L]
RewriteRule ^Admin/HistoryAtm$ pages/admin/HistoryAtm.php [L]
RewriteRule ^Admin/Server/Edit/([A-Za-z0-9-]+)$ pages/admin/EditServer.php?id=$1 [L]
RewriteRule ^Admin/Domain/Edit/([A-Za-z0-9-]+)$ pages/admin/EditDomain.php?id=$1 [L]
RewriteRule ^Admin/Goi/Add/([A-Za-z0-9-]+)$ pages/admin/AddGoi.php?id=$1 [L]
RewriteRule ^Admin/Goi/Edit/([A-Za-z0-9-]+)$ pages/admin/EditGoi.php?id=$1 [L]
RewriteRule ^Admin/Goi/Delete/([A-Za-z0-9-]+)$ pages/admin/EditGoi.php?delete=$1 [L]
RewriteRule ^Admin/Bank$ pages/admin/Bank.php [L]
RewriteRule ^Admin/AddDomain$ pages/admin/AddDomain.php [L]
RewriteRule ^Admin/Settings$ pages/admin/Settings.php [L]
RewriteRule ^Admin/Affiliate$ pages/admin/Affiliate.php [L]
RewriteRule ^Admin/Affiliate2$ pages/admin/Affiliate2.php [L]
RewriteRule ^Admin/Affiliate3$ pages/admin/Affiliate3.php [L]
RewriteRule ^Admin/Affiliate4$ pages/admin/Affiliate4.php [L]
RewriteRule ^Admin/Ruttien$ pages/admin/Ruttien.php [L]
RewriteRule ^Admin/Ruttien/Edit/([A-Za-z0-9-]+)$ pages/admin/EditRuttien.php?id=$1 [L]
RewriteRule ^Admin/UsersOn$ pages/admin/UsersOn.php [L]
RewriteRule ^Admin/ActiveIp$ pages/admin/ActiveIp.php [L]

RewriteRule ^Admin/Vps/Edit/([A-Za-z0-9-]+)$ pages/admin/EditVps.php?id=$1 [L]
RewriteRule ^Admin/Vps/Add/([A-Za-z0-9-]+)$ pages/admin/AddGoiVps.php?id=$1 [L]
RewriteRule ^Admin/Vps/Goi/Edit/([A-Za-z0-9-]+)$ pages/admin/EditGoiVps.php?id=$1 [L]
RewriteRule ^Admin/Vps/Goi/Delete/([A-Za-z0-9-]+)$ pages/admin/EditGoiVps.php?delete=$1 [L]
RewriteRule ^Admin/Vps/List/Edit/([A-Za-z0-9-]+)$ pages/admin/EditListVps.php?id=$1 [L]
RewriteRule ^Admin/Vps/Add/List/([A-Za-z0-9-]+)$ pages/admin/AddListVps.php?id=$1 [L]
RewriteRule ^Admin/Vps/List/Delete/([A-Za-z0-9-]+)$ pages/admin/EditListVps.php?delete=$1 [L]
RewriteRule ^Admin/Coupon/Add$ pages/admin/AddCoupon.php [L]
RewriteRule ^Admin/Cronjob$ pages/admin/Cronjob.php [L]

RewriteRule ^Admin/AddAddWhm$ pages/admin/AddWhm.php [L]
RewriteRule ^Admin/Goi/WHM/Add/([A-Za-z0-9-]+)$ pages/admin/AddGoiWhm.php?id=$1 [L]
RewriteRule ^Admin/Goi/WHM/Edit/([A-Za-z0-9-]+)$ pages/admin/EditGoiWhm.php?id=$1 [L]
RewriteRule ^Admin/Goi/WHM/Delete/([A-Za-z0-9-]+)$ pages/admin/EditGoiWhm.php?delete=$1 [L]

ErrorDocument 404 /pages/client/404.php
#VUI LÒNG XÓA HẾT CODE Ở DƯỚI ĐOẠN GHI CHÚ NÀY (NẾU CÓ, TRÁNH BỊ LỖI .HTACCESS). TUANORI